@import "../../../fonts/brandon/brandon.css";

.root {
  position: relative;
  height: 100vh;
}

.container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.logo {
  width: 200px;
}

.title {
  font-family: brandon_grotesque;
  font-size: 46px;
  letter-spacing: 12px;
  line-height: 1.5;
  font-weight: 900;
  margin-top: 40px;
  margin-bottom: 0;
  color: #FFF;
}

.subtitle {
  font-family: brandon_grotesque;
  font-size: 18px;
  letter-spacing: 4px;
  font-weight: 300;
  margin-top: 0.2rem;
  color: #FFF;
}

.background {
  position: absolute !important;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}


@media only screen and (max-width: 768px) {
  .logo {
    width: 45vmin;
  }
  .title {
    font-size: 6.5vmin;
  }
  .subtitle {
    font-size: 3.6vmin;
  }
}