.downloads {
  margin: 16px 0;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.downloadsTitle {
  display: inline;
  position: relative;
  margin: 0 0 32px 0;

  font-size: 28px;
  font-weight: 200;

  user-select: none;
}

.downloadsTitle::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 8px;
  right: 8px;
  height: 0.5px;
  background-color: rgba(0,0,0,0.6);
}

.tableContainer {
  width: 100%;
  overflow-x: auto;
}
.tableContainer table td {
  white-space: nowrap;
}

.tableHint {
  display: none;
  margin: 16px 0 8px 0;
  display: none;
  color: rgba(0,0,0,0.4);
}

.tableHint.show {
  display: block;
}

.tableHintText {
  margin: 0 8px;
}