.placeholder {
  display: inline-block;
  position: relative;
  width: 20em;
}

.text {
  display: inline-block;
}

.enter {
  animation: enter 1s cubic-bezier(0.075, 0.82, 0.165, 1) 0s 1 both;
}

.exit {
  animation: exit 0.5s cubic-bezier(0.55, 0.055, 0.675, 0.19) 0s 1 both;
}

@keyframes enter {
  from { transform: translateY(100%); opacity: 0; }
  to { transform: none; opacity: 1; }
}

@keyframes exit {
  from { transform: none; opacity: 1; }
  to { transform: translateY(-100%); opacity: 0; }
}

@media only screen and (max-width: 768px) {
  .placeholder {
    width: 8em;
    text-align: left;
  }
}