.container {
  position: fixed;
  z-index: 2000;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  display: flex;
  justify-content: center;
  align-items: center;
}

.container.exit {
  pointer-events: none;
}

.container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000;

  opacity: 1;
  transition: opacity 1s ease-out 0.2s;
}

.container.exit::before {
  opacity: 0;
  pointer-events: none;
}

.logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #FFF;
  z-index: 2;

  opacity: 0;
  transition: opacity 0.4s ease-out;

  font-size: 2.2rem;
  user-select: none;
}

.logo.enter {
  opacity: 1;
}

.logo.exit {
  opacity: 0;
}

/*
.snow {
  opacity: 0;
}

.snow.enter {
  opacity: 1;
  transition: opacity 2s ease-out;
}

.snow.exit {
  opacity: 0;
  transition: opacity 3s ease-out;
} */