.root {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.logo {
  font-size: 36px;
}

.subtitle {
  color: rgba(255,255,255,0.4);
}

.subtitle > * {
  color: rgba(255,255,255,0.5) !important;
}