.logout {
  max-width: 500px;
  padding: 32px 64px;
}

.button {
  margin: 4px 8px;
}

.actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
}

@media only screen and (max-width: 768px) {
  .logout {
    padding: 8px 16px;
    width: 250px;
    text-align: center;
  }
  .actions {
    justify-content: center;
  }
  .button {
    width: 100%;
  }
}