.glacierApp {
  min-height: 100vh;
}

.glacierApp::after {
  content: "";
  position: fixed;
  z-index: -2;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #111;
  animation: background-keyframes 20s ease infinite;
  transform: translate3d(0px, 0px, 0px) scale(1.5); /* create it's own render layer */
}

.spinner {
  position: absolute;
  top: 50%;
  left: 50%;

  font-size: 18px;
  color: #FFF;
  transform: translate(-50%, -50%);

  animation: fade-in-keyframes 0.3s ease-out 1s 1 both;
}

@keyframes fade-in-keyframes {
  from { opacity: 0; }
  top { opacity: 1; }
}

@keyframes background-keyframes {
  0% { background-color: #000 }
  50% { background-color: #222 }
  100% { background-color: #000 }
}