@import url('https://fonts.googleapis.com/css?family=Oswald:200&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');


.card {
  position: relative;
  user-select: none;

  width: 450px;
  max-width: 100%;
  text-align: left;
}

.thumbnailWrapper::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 0;
  border-bottom: thin solid rgba(0,0,0,0.06);
}

.title {
  display: inline-block;
  min-height: 1.5em;

  font-size: 1.3em;
  letter-spacing: 0.05em;
  font-family: Oswald, sans-serif;
  text-transform: uppercase;
  font-weight: 200;
}

.release {
  position: relative;
  bottom: 0.1em;

  opacity: 0.6;
  letter-spacing: 0.01em;
  margin-left: 0.5em;
  font-size: 0.8em;
}

.description {
  display: inline-block;
  width: 100%;
  height: 3em; /* fixed height */

  overflow: hidden;
  font-size: 0.9em;
  line-height: 1.5em;
  color: rgba(0,0,0,0.8);
  font-family: "Open Sans", sans-serif;
}

.titleSkeleton::after,
.releaseSkeleton::after,
.descriptionSkeleton::before,
.descriptionSkeleton::after {
  content: "";
  display: inline-block;
  height: 1em;
  animation: shimmer 2s ease-in-out 0s infinite;
}

.titleSkeleton::after {
  width: 196px;
  background-color: rgba(0,0,0,0.1);
}

.releaseSkeleton::after {
  width: 48px;
  background-color: rgba(0,0,0,0.05);
}

.descriptionSkeleton::before {
  width: 100%;
  background-color: rgba(0,0,0,0.05);
}

.descriptionSkeleton::after {
  margin-top: 4px;
  width: 60%;
  background-color: rgba(0,0,0,0.05);
}

@keyframes shimmer {
  20% { opacity: 1 }
  50% { opacity: 0.5 }
  80% { opacity: 1}
}