@import url('https://fonts.googleapis.com/css?family=Raleway:300&display=swap');

.status {
  max-width: 100%;
  width: 800px;
  padding: 0 32px;
}

.titleWrapper {
  display: flex;
  justify-content: center;
}

.title {
  position: relative;
  font-family: Raleway, sans-serif;
  font-weight: 300;
  font-size: 2.2rem;
  user-select: none;
}

.titleDot {
  position: absolute;
  top: calc(50% + 2px);
  left: -32px;
  transform: translateY(-50%);
}

.text {
  margin-top: 16px;
  padding: 0 32px;
  text-align: justify;
}

.message {
  font-size: 1.2em;
  color: rgba(0,0,0,0.4);
  pointer-events: none;
}

.messageIcon {
  margin-right: 8px;
}

.error {
  color: #FF4136;
}

.tableTitle {
  text-align: center;
  font-weight: 200;
  font-size: 1.2rem;
  margin: 32px 0 16px 0;
}

.tableWrapper {
  position: relative;
  min-height: 128px;
  padding: 16px 0;
  margin-bottom: 16px;

  display: flex;
  justify-content: center;
  flex-direction: column;
}

@media only screen and (max-width: 768px) {
  .title {
    font-size: vw;
  }
  .text {
    padding: 0 8px;
  }
}