.hamburger {
  position: relative;
  top: 5px;
  left: -3px;
  cursor: pointer;
  font: inherit;
  color: inherit;
  padding: 15px 15px;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  outline: 0;
  overflow: visible;

  transition-property: opacity, filter;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
  transition-delay: 100ms;
}

.hamburger:hover {
  opacity: 0.7;
}

.hamburgerBox {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative;
}

.hamburgerInner {
  display: block;
  top: 50%;
  margin-top: -2px;
}
.hamburgerInner,
.hamburgerInner::before,
.hamburgerInner::after {
  width: 40px;
  height: 2px;
  background-color: #000;
  border-radius: 4px;
  position: absolute;
  transition: transform 300ms ease, background-color 300ms, color linear;
}
.hamburgerInner::before,
.hamburgerInner::after {
  content: "";
  display: block;
}
.hamburgerInner::before {
  top: -10px;
}
.hamburgerInner::after {
  bottom: -10px;
}

.hamburger .hamburgerInner {
  transition: transform 440ms cubic-bezier(0.55, 0.055, 0.675, 0.19), background-color 300ms linear 300ms;
}
.hamburger .hamburgerInner::before {
  transition: top 200ms 500ms ease-in, opacity 200ms ease-in, background-color 300ms linear;
}
.hamburger .hamburgerInner::after {
  transition: bottom 200ms 500ms ease-in, transform 440ms cubic-bezier(0.55, 0.055, 0.675, 0.19), background-color 300ms linear;
}

/* emphatic */
.hamburger {
  overflow: hidden;
}
.hamburger .hamburgerInner::before {
  left: 0;
  transition: transform 250ms cubic-bezier(0.6, 0.04, 0.98, 0.335), top 10ms 250ms linear, left 250ms 350ms ease-out, background-color 300ms linear;
}
.hamburger .hamburgerInner::after {
  top: 10px;
  right: 0;
  transition: transform 250ms cubic-bezier(0.6, 0.04, 0.98, 0.335), top 10ms 250ms linear, right 250ms 350ms ease-out, background-color 300ms linear;
}

.hamburger.active .hamburgerInner {
  transition-delay: 0s;
  transition-timing-function: ease-out;
  background-color: transparent !important;
}
.hamburger.active .hamburgerInner::before {
  left: -80px;
  top: -80px;
  transform: translate3d(80px, 80px, 0) rotate(45deg);
  transition: left 250ms ease-out, top 10ms 250ms linear, transform 250ms 350ms cubic-bezier(0.075, 0.82, 0.165, 1), background-color 300ms linear;
}
.hamburger.active .hamburgerInner::after {
  right: -80px;
  top: -80px;
  transform: translate3d(-80px, 80px, 0) rotate(-45deg);
  transition: right 250ms ease-out, top 10ms 250ms linear, transform 250ms 350ms cubic-bezier(0.075, 0.82, 0.165, 1), background-color 300ms linear;
}

.hamburger.dark .hamburgerInner,
.hamburger.dark .hamburgerInner::before,
.hamburger.dark .hamburgerInner::after {
  background-color: #fff;
}