.container {
  position: fixed; /* Keep it fixed despite scrolling */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;

  background: #FFF;
}

/* TODO replace with rasterized image */
/* White faded overlay */
.container::before {
  content: "";
  position: absolute;

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background: rgba(255,255,255,0.8);
  z-index: 1;
}

.image {
  width: 100%;
  height: 100%;
}