.wizard {
  position: relative;
  padding: 32px 16px;
  background-color: #FFF;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  margin-bottom: 32px;
}

.subtitle {
  font-weight: 500;
  font-size: 1.1rem;
  margin-bottom: 8px;
}

.description tr td {
  padding: 4px 16px;
}

.steps {
  margin-top: 48px;
  width: 600px;
  max-width: 80%;
}

.actions {
  min-height: 128px;
  margin-top: 32px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.actionsTitle {
  font-size: 1.2rem;
  margin-bottom: 16px;
  color: rgba(0,0,0,0.9);
}

.form {
  display: flex;
}

.formButton {
  margin-left: 8px;
}

.error {
  color: #FF4136;
  margin-top: 16px;
}
