.controlPanel {
  position: fixed;
  z-index: 1000;
  bottom: 32px;
  right: 32px;
  width: 200px;

  background: #fff;
  color: #000;
  border: 1px solid #aaa;
  padding: 28px 16px 32px 16px;
  user-select: none;
  cursor: grab;
}

.isolate {
  position: fixed;
  z-index: 999;
  background: #fff;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
