.end.end {
  display: flex; /* section should already be flex... */
  justify-content: center;

  color: #fff;
  user-select: none;
  padding: 128px 0 256px;
}

.text {
  text-align: center; /* for mobile */
}

@media only screen and (max-width: 768px) {
  .end {
    padding: 16px 0 64px;
  }
}