@import url('https://fonts.googleapis.com/css?family=Oswald:200&display=swap');


.summaryRow {
  display: flex;
  align-items: center;

  margin-bottom: 16px;
}

.thumbnail {
  width: 400px;
  max-width: 80%;
  margin: 0 32px 0 0;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  position: relative;

  font-family: Oswald, sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.02em;
  font-weight: 200;
  font-size: 2em;
  text-align: center;

  margin-right: 16px;
}

.title::after {
  content: "";
  position: absolute;
  bottom: -2px;
  height: 0.5px;
  left: 10%;
  right: 10%;

  background-color: rgba(0,0,0,0.6);
}

.release {
  font-family: Oswald, sans-serif;
  text-transform: uppercase;
  font-weight: 200;
  font-size: 1.2em;

  color: rgba(0,0,0,0.6);
}

.description {
  text-align: justify;
  padding: 4px 8px;
}

/* Responsive CSS */
@media only screen and (max-width: 576px) {
  .summaryRow {
    flex-direction: column;
    align-items: center;
  }
  .thumbnail {
    margin: 16px 0;
    width: 100%;
  }
  .title {
    font-size: 8vw;
  }
  .release {
    font-size: 5vw;
  }
  .summary {
    width: 100%;
  }
}
