@import url('https://fonts.googleapis.com/css?family=Raleway:300&display=swap');


.logo {
  font-family: Raleway, sans-serif;
  font-weight: 300;
  letter-spacing: 0.1em;
  color: #000;
}

.dark {
  color: #FFF;
}