@import url('https://fonts.googleapis.com/css?family=Raleway:800&display=swap');

.root {
  position: relative;
  padding: 64px 16px 48px 16px;

  background-color: #EEE;
  color: #000;
  border-top: 1px solid #CCC;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  user-select: none;
}

.root.dark {
  background-color: #222;
  color: #FFF;
  border-top: 1px solid #666;
}

.title {
  font-size: 2rem;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 0.1rem;
  font-weight: 800;
}

.subtitle {
  font-size: 0.8rem;
  margin-bottom: 2rem;
  letter-spacing: 0.1rem;
}

.title, .subtitle {
  opacity: 0.5;
}

.root.dark .title,
.root.dark .subtitle {
  opacity: 0.8;
}

.links {
  max-width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 16px;
}

.link {
  color: #111;
  margin: 0.2em 0.8em;
  font-weight: bold;
  transition: color 300ms;
}

.root.dark .link {
  color: #DDD;
}

.link:hover {
  color: #1890ff;
}

.root.dark .link:hover {
  color: #FFF;
}

.icon {
  font-size: 18px;
  margin: 0 0.8rem;
}

.breadcrumb {
  text-align: center;
}

.breadcrumbMessage {
  font-weight: 600;
  opacity: 0.4;
  font-size: 0.8rem;
  margin-top: 16px;
}

.breadcrumbMessage {
  transition: opacity 0.3s ease-out;
}

.breadcrumbMessage:hover {
  opacity: 0.8;
}
